<!DOCTYPE html>
<html lang="en">
<head>
<title>Error</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
    <div class="loginMain">
        <div class="loginLeft">
            <h1>{{error}}</h1>
            <img src="/static/img/cartoon-no-results-found.png" class="imagem" alt="Descanso">
        </div>
        <div class="loginRight">
            <div class="loginCardIndex">
                <button  class="loginButton" ><a href="/logout">Voltar</a></button>
            </div>
        </div>
    </div>
</body>
</html>