<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Home</title>
</head>

<body>
    <div id="modal-container">
        <div class="home-modal">
            <div class="home-modal__header">
                <img src="../static/img/icons/window-close_icon.png" alt="" srcset="">
            </div>
            <div class="home-modal__user-info">
                <div class="home-modal__profile-image">
                    <img
                        src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                </div>
                <div class="home-modal__profile-data">
                    <span>{{session.sessionusername.split('@')[0]}}</span>
                    <span>{{session.sessionusername}}</span>
                </div>
            </div>
            <div class="home-modal__options">
                <a href="#" class="home-modal__option">
                    <img src="../static/img/icons/cog-outline_icon.png" alt="" srcset="">
                    Configurações
                </a>
                <a href="{{url_for('showData')}}" class="home-modal__option">
                    <img src="../static/img/icons/database_icon.png" alt="" srcset="">
                    Dados
                </a>
                <a href="{{url_for('logout')}}" class="home-modal__option">
                    <img src="../static/img/icons/exit-to-app_icon.png" alt="" srcset="">
                    Sair
                </a>
            </div>
        </div>
    </div>

    <header class="home-header">
        <div class="home-header__top">
            <div class="home-header__texts">
                <div class="home-header__greeting">Olá, {{session.sessionusername.split('@')[0]}}</div>
                <div class="home-header__question">Qual o remédio para hoje?</div>
            </div>
            <div class="home-header__profile-image">
                <img src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            </div>
        </div>
        <div class="home-header__bottom">
            <form class="home-header__serach-form" action="">
                <button class="home-header__serach-button">
                    <img src="../static/img/icons/magnify_icon.png" alt="">
                </button>
                <input class="home-header__search" type="text" placeholder="Buscar..." id="search-input">
                <a href="{{url_for('userCamera')}}">
                    <div class="home-header__search-image">
                        <img src="../static/img/icons/add-photo_icon.png" alt="">
                    </div>
                </a>
            </form>
        </div>
    </header>

    <main class="home-main">
        <section class="home-main__system-functions">
            <div class="home-main__system-functions-container">
                <a href="{{url_for('caseStudy')}}" class="home-main__system-function">
                    <span class="home-main__function-icon">
                        <img src="../static/img/icons/book_icon.png">
                    </span>
                    <div class="home-main__functions-texts">
                        <p class="home-main__function-title">Estudos de casos</p>
                        <p class="home-main__function-subtitle">Aprenda com casos reais</p>
                    </div>
                </a>
                <a href="{{url_for('userNotes')}}" class="home-main__system-function">
                    <span class="home-main__function-icon">
                        <img src="../static/img/icons/notes_icon.png">
                    </span>
                    <div class="home-main__functions-texts">
                        <p class="home-main__function-title">Minhas anotações</p>
                        <p class="home-main__function-subtitle">Registre suas reflexões</p>
                    </div>
                </a>
                <a href="#" class="home-main__system-function">
                    <span class="home-main__function-icon">
                        <img src="../static/img/icons/calculator_icon.png">
                    </span>
                    <div class="home-main__functions-texts">
                        <p class="home-main__function-title">Calcular medicamentos</p>
                        <p class="home-main__function-subtitle">Indique a dosagem correta</p>
                    </div>
                </a>
            </div>
        </section>

        <section class="home-main__search-history">
            <div class="home-main__search-history-header">
                <h3 class="home-main__search-history-title">Histórico de busca</h3>
                <a class="home-main__search-history-viewAll" href="">ver tudo</a>
            </div>
            <div class="home-main__search-history-container">
                <div class="home-main__search-history-item">
                    <div class="home-main__search-history-item-type">
                        <p>G</p>
                    </div>
                    <div class="home-main__search-history-texts">
                        <p>Nome do remédio</p>
                        <p>Princípio ativo</p>
                    </div>
                    <a href="#" class="home-main__search-history-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 -960 960 960" width="18">
                            <path
                                d="m291-240-51-51 189-189-189-189 51-51 189 189 189-189 51 51-189 189 189 189-51 51-189-189-189 189Z" />
                        </svg>
                    </a>
                </div>
            </div>
        </section>

        <section class="home-main__last-notes">
            <div class="home-main__last-notes-header">
                <h3 class="home-main__last-notes-title">Ultimas anotações</h3>
                <a class="home-main__last-notes-viewAll" href="">ver tudo</a>
            </div>
            <div class="home-main__last-notes-container">
                <div class="home-main__last-notes-item">
                    <p>Nome do remédio</p>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20">
                            <path
                                d="M479.79-192Q450-192 429-213.21t-21-51Q408-294 429.21-315t51-21Q510-336 531-314.79t21 51Q552-234 530.79-213t-51 21Zm0-216Q450-408 429-429.21t-21-51Q408-510 429.21-531t51-21Q510-552 531-530.79t21 51Q552-450 530.79-429t-51 21Zm0-216Q450-624 429-645.21t-21-51Q408-726 429.21-747t51-21Q510-768 531-746.79t21 51Q552-666 530.79-645t-51 21Z" />
                        </svg>
                    </a>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer-nav">
        <div class="footer-nav__wrapper">
            <a href="{{url_for('userHome')}}" class="footer__nav-item" id="userHome">
                <i data-lucide="home" class="nav-icon"></i>               
                <p>home</p>
            </a>
            <a href="{{url_for('search')}}" class="footer__nav-item"  id="search">
                <i data-lucide="search" class="nav-icon"></i>             
                <p>buscar</p>
            </a>
            <a href="{{url_for('userNotes')}}" class="footer__nav-item" id="notes">
                <i data-lucide="notepad-text" class="nav-icon"></i>                                  
                <p>Notas</p>
            </a>
            <a href="#" class="footer__nav-item" id="profile">
                <i data-lucide="user-round"  class="nav-icon"></i>                
                <p>Perfil</p>
            </a>
        </div>
    </footer>

    <script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
    <script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
    <script src="../static/js/jquery.js"></script>

    <script type="text/javascript">
        const emblaNode = document.querySelector('.home-main__system-functions')
        const options = { loop: false }
        const emblaApi = EmblaCarousel(emblaNode, options)
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="../static/js/main.js"></script>
    <script>
        document.getElementById("search-input").addEventListener("click", function() {
            window.location.href = "/search";
        });
    </script>
</body>

</html>