<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>Index</title>
</head>
<body>
    <div class="container">
        <div class="intro">
            <img class="intro__image" src="../static/img/Drawkit-Vector-Illustration-Medical-18.png" alt="Descanso">
            <div class="intro__texts">
                <h2 class="intro__greeting">Bem vindo ao</h2>
                <h1 class="intro__heading">Medicalize</h1>
            </div>
        </div>
        <div class="navigation">
            <a class="navigation__link" href="/login">Entrar</a>
            <a class="navigation__link" href="/signup">Cadastrar</a>
        </div>
    </div>
</body>
</html>