<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>Document</title>
</head>
<body>
    <form class="note__form" action=""></form>
        <div class="note__header">
            <img class="back-icon" src="../static/img/icons/chevron-left.png" alt="">
            <input type="text" name="" id="" placeholder="Título" autofocus>
        </div>
        
        <div class="note__main">
            <textarea name="" id="text-area" placeholder="anotação..."></textarea>
        </div>

        <div class="note__button" id="save-btn">
            <button>Salvar</button>
        </div>
    </form>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="../static/js/main.js"></script>
</body>
</html>