<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>Anotações</title>
</head>
<body>
    <header class="page-header">
        <div class="header-wrapper">
            <a href="{{url_for('userHome')}}"><img class="back-icon" src="../static/img/icons/chevron-left.png" alt=""></a>
            <p class="page-name">Anotações</p>
            <img class="notification-icon" src="../static/img/icons/notification-off_icon.png" alt="">
        </div>
    </header>

    <main class="notes-main">
        <div class="notes-main__top-section">
            <form class="notes-main__form">
                <input class="notes-main__form-input" type="text" name="" placeholder="Buscar...">
                <button class="notes-main__form-button">
                    <img src="../static/img/icons/magnify_icon.png" alt="">
                </button>
            </form>
            <button class="notes-main__sort-button">
                <img src="../static/img/icons/sort_icon.png" alt="">
            </button>
        </div>

        <div class="notes-main__bottom-section">
            <div class="notes-main_itens-container">
                <a href="#" class="notes-main__item">
                    <p>Título da anotação</p>
                </a>
                <a href="#" class="notes-main__item">
                    <p>Título da anotação</p>
                </a>
                <a href="#" class="notes-main__item">
                    <p>Título da anotação</p>
                </a>
                <a href="#" class="notes-main__item">
                    <p>Título da anotação</p>
                </a>
            </div>
        </section>
    </main>

    <a href="{{url_for('newNote')}}" class="button-add-note">
        <img src="../static/img/icons/plus_icon.png" alt="">
    </a>

    <footer class="footer-nav">
        <div class="footer-nav__wrapper">
            <a href="{{url_for('userHome')}}" class="footer__nav-item" id="userHome">
                <i data-lucide="home" class="nav-icon"></i>               
                <p>home</p>
            </a>
            <a href="{{url_for('search')}}" class="footer__nav-item"  id="search">
                <i data-lucide="search" class="nav-icon"></i>             
                <p>buscar</p>
            </a>
            <a href="{{url_for('userNotes')}}" class="footer__nav-item" id="usernotes">
                <i data-lucide="notepad-text" class="nav-icon"></i>                                  
                <p>Notas</p>
            </a>
            <a href="#" class="footer__nav-item" id="profile">
                <i data-lucide="user-round"  class="nav-icon"></i>                
                <p>Perfil</p>
            </a>
        </div>
    </footer>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="../static/js/main.js"></script>
</body>
</html>