<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="icon" href="https://images.vexels.com/media/users/3/128861/isolated/preview/beeb0c08058cfaff3ceb3fa5cd56d485-iacute-cone-de-comprimido-de-c-aacute-psula-de-medicamento-by-vexels.png">
</head>

<body>

    <div class="loginMain"> <!-- DIV MAIOR -->
        <div class="loginLeft">
            <h1>Acesse a<br>Plataforma</h1>
        </div>
        <div class="loginRight">
            <div class="loginCard">
                <h1>Login</h1>
                <div class="loginText">
                    <label for="name">Nome</label>
                    <input type="text" name="username" id="username" placeholder="Digite o nome de usuario" required>
                </div>
                <div class="loginText">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Digite o Email" required>
                </div>
                <div class="loginText">
                    <label for="password">Senha</label>
                    <input type="password" name="password" id="password" placeholder="Digite a Senha" required>
                </div>
                <div class="loginText">
                    <label for="repassword">Senha</label>
                    <input type="password" name="repassword" id="repassword" placeholder="Repetir senha" required>
                </div>
                <br>
                <div class="form-group">
                    <label>
                        <a href="/" class="signup-image-link">já tenho cadastro</a>
                    </label>
                </div>
                <br>
                <input type="button" name="signup" id="signup" class="loginButton" onclick="register();" value="Cadastrar" />
                <br>
                <div style="margin-top:5px;">
                    <label class="label-agree-term" id="signup_message" style="color: green;display: none;">Cadastro realizado com Sucesso</label>
                </div>
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/script.js"></script>
    <script type="text/javascript">
        function register(){

            if (($("#username").val() == '') || ($("#email").val() == "")||
                ($("#password").val() == '') || ($("#repassword").val() == "")){

                $("#error_message").text("All fields are required");
                $("#error_message").show(0).delay(3000).hide(0);
            } 
            else if ($("#password").val() != $("#repassword").val()){
                $("#error_message").text("Passwords are not same");
                $("#error_message").show(0).delay(3000).hide(0);
            }

            else {
                var data = new FormData();
                data.append('username', $("#username").val());
                data.append('email', $("#email").val());
                data.append('password', $("#password").val());

                $.ajax({
                    type: 'POST',
                    enctype: 'multipart/form-data',
                    url: '/register',
                    processData: false,
                    cache: false,
                    timeout: 800000,
                    contentType: false,
                    data: data,
                    success: function(response) {
                        var data = JSON.parse(response);
                        if (data == true){
                            $('#signup_message').show(0).delay(3000).hide(0);

                            setTimeout(function() {
                                window.location = "/";
                            }, 3000);

                        } else{                           
                            $("#error_message").text("Email Id was already exists.");
                            $("#error_message").show(0).delay(3000).hide(0);
                        }
                    }
                });
            }
        }

    </script>
</body>

</html>